#BoxMessageMe{
    -fx-background-radius: 6;
    -fx-background-color: #dd4131;
    -fx-text-fill: #fff;
    -fx-padding: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#BoxMessage{
    -fx-background-radius: 6;
    -fx-background-color:  #d9d9d9;
    -fx-padding: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

#time{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #6c6c6c;
}

#vb{
    -fx-padding: 10px;
}

#itemUserHBox{
    -fx-padding: 7px;
}

#nameLable{
    -fx-padding: 10px;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-min-width: 170;
}

